/* LAYOUT */

html, body, div, main {
  margin: 0;
  padding: 0;
  display: block;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,p,span,div,small,a,input,label,textarea {
  font-family: var(--font-family);
  font-weight: var(--wheight);
}

.page {
  width: auto;
  height: auto;         
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 68,75rem;
  padding: 0 4,25rem;
}


/* BREADCRUMB */
.navbar {
    width: 100%;
    height: 1.25rem;
    padding-top: 1.875rem;
    padding-bottom: 1.25rem;
    margin-left: 6.25rem;
}

.breadcrumb {
    display: flex;
    align-items: center;
    color: var(--primary);
}
 
.breadcrumb-item {
    display: flex;
    justify-content: center;
    color: var(--color-black);
    cursor: pointer;
    text-decoration: none;
    text-decoration-color:  var(--color-black);
    padding: 0 var(--pad);
    font-size: var(--size);
    
}

.breadcrumb-item.__active {
    color: var(--primary);
    font-weight: var(--wheight-bold);
}

.breadcrumb svg {
  width: var(--size);
  height: var(--size);
  top: 0.2rem;
  left: 3.125rem;
  fill:  var(--color-black);
  
}

/* PRODUCT DETAILS */

.product-details {
  display: flex;
}

/*
    Product Images
*/

.product-images {
  display: flex;
}

.thumbs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.thumb {
    padding: 0px 15px 10px 10px;
}

.thumb.__active {
  border: 2px solid red;
}

.prod-item {
    
}

/* 
  Product info
*/
.product-info {
}
