@media screen and (max-width: 37.5em) {
  
  .container {
    width: 100%;
    padding: 0 var(--pad-sm);
  }


  /* BREAD CRUMB */
  .navbar {
    height: 1.25rem;
    margin-left: 0;
    padding-bottom: 0.625rem;
  }

  .breadcrumb-item {
    justify-content: space-between;
    padding: 0 var(--pad-sm);
    font-size: var(--size-sm);
  }
  
}